extends ./layout

block css
	link(href='css/aboutme.css', rel='stylesheet')

block variables
	- var selected = "About Me"

block body
	div.content-wrapper
		div#introduction
			p="I am a passionate full-stack engineer interested in designing and developing all kinds of software. I have good sense on UI/UX design and experienced in a variety of development skills. I currently study in Syracuse University for my master degree in computer science and expect to graduate in May 2017."

		div#education.row
			div.col-md-2
				p.section-title="EXPERIENCE"
			div.col-md-10
				div.education-record.record
					p.record-title
						span.record-name="Syracuse University"
						span.pull-right.record-time="2015-Now"
					p.record-note="Master of Computer Science"
					p.record-text="Courses: Mathematical Basis for Computing, Structured Programming and Formal Methods, Computer Architecture, Principles of Operating Systems, Design and Analysis of Algorithms, Object Oriented Design"

				div.education-record.record
					p.record-title
						span.record-name="FuZhou University"
						span.pull-right.record-time="2012-2015"
					p.record-note="Bachelor's degree of Computer Science"
					p.record-text="Courses: "