extends ./layout.jade

block css
	link(href='css/home.css', rel='stylesheet')
	link(href='css/works.css', rel='stylesheet')
block body
	div#home-wrapper
		div#main-wrapper
			div#contact-info-wrapper.row
				p#my-name="Hey! I'm Junkai Yang."
				div#contact-me-wrapper
					a(href="https://www.facebook.com/profile.php?id=100003043347203&fref=nf&pnref=story", target="_blank").contact-me.contact-me-facebook
					a(href="https://www.linkedin.com/in/junkai-yang-51468b73", target="_blank").contact-me.contact-me-linkedin
					a(href="https://github.com/cyfloel0516", target="_blank").contact-me.contact-me-github
					a(href="mailto:cyfloel0516@gmail.com").contact-me.contact-me-gmail

			div#more-info-wrapper
				span.glyphicon.glyphicon-menu-down(aria-hidden="true")

		div#aboutme-wrapper.part-wrapper.part-gray
			div.par-content
				p.part-title="Someting about me"
				p.part-text="A passionate full-stack engineer interested in designing and developing all kinds of software. Currently study in Syracuse University for my master degree in computer science and expect to graduate in May 2017. Web are my favorite but also like to touch other various technologies."
				div.part-learn-more
					a.btn.btn-default.btn-lg(href="/aboutme")="LEARN MORE"


		div#portofolio-container.part-wrapper
			div.part-content
				p.part-title="Portofolio"
				div.portofolio-wrapper
					div.portofolio.row
						div.portofolio-image-wrapper.col-md-6
							img.portofolio-image(src="images/caption_screenshot.png")
							a(href="work/captioning_system").seemore=""
							//a.seemore="SEE MORE"
							//div.portofolio-seemore
								
						div.portofolio-content-wrapper.col-md-6
							h4.portofolio-title
								a(href="works_detail/captioning_system")="Captioning System"
							p.portofolio-subtitle="Syracuse University"
							ul
								li="Full-Stack Developer"
								li="For students and instructors to correct captions, make bookmarks, write comments and communicate with others"
								li="Docker, PHP, Laraval, JavaScript, HTML5, CSS, jQuery, BootStrap..."
								li="Interface with Google, YouTube and BlackBoard"
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/edms_screenshot.png")
						a(href="work/edms").seemore=""
						//div.portofolio-seemore
							a.seemore="SEE MORE"
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="works/edms")="787 Engineering Data Management System"
						p.portofolio-subtitle="Xiamen Airlines, 2014"
						ul
							li="Developer team leader"
							li="For 787 maintenance and engineering management"
							li="C# ASP.net MVC, JavaScript, Python, HTML5, CSS, LESS, jQuery, BootStrap..."
							li="Cooperate with Boeing 787 e-Enabing team"
							li="Visit Boeing Lab in Seattle for testing and validating"
				div.part-learn-more
					a.btn.btn-default.btn-lg(href="/work")="LEARN MORE"


