extends ./layout

block css
	link(href='css/works.css', rel='stylesheet')

block variables
	- var selected = "My Works"

block body
	div.content-wrapper
		div#portofolio-container
			div.year-wrapper
				h4=2016
			div.portofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/website_screenshot.png")
						a(href="work/personal_website_2").seemore=""
						//div.portofolio-seemore
							a.seemore="SEE MORE"
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="work/personal_website_2")="Personal website 2.0"
						p.portofolio-subtitle="For myself, 2016"
						ul
							li="Designed, developed and maintained by myself"
							li="Node.js, Express, MongoDB, JavaScript, Heroku, HTML5, CSS, jQuery, BootStrap, Google Analytics..."
							li="Built on express and hosted on Heroku"
							li="Responsive design, make the site mobile friendly"
							li="Include a blog system for me to manage my blogs"

				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/caption_screenshot.png")
						a(href="work/captioning_system").seemore=""
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="work/captioning_system")="Captioning System"
						p.portofolio-subtitle="Syracuse University"
						ul
							li="Main developer for both front and back end"
							li="For students and instructors to correct captions, make bookmarks, write comments and communicate with others"
							li="Docker, PHP, Laraval, JavaScript, HTML5, CSS, jQuery, BootStrap..."
							li="Use Google, YouTube and BlackBoard interface"

			div.year-wrapper
				h4=2015
			div.protofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/edms_screenshot.png")
						a(href="work/edms").seemore=""
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="work/edms")="787 Engineering Data Management System"
						p.portofolio-subtitle="Xiamen Airlines, 2014"
						ul
							li="Developer team leader"
							li="For 787 maintenance and engineering management"
							li="C#, ASP.net MVC, JavaScript, Python, HTML5, CSS, LESS, jQuery, BootStrap, PostgreSQL, MSSQL Server..."
							li="Cooperate with Boeing 787 e-Enabing team"
							li="Visit Boeing Lab in Seattle for test and validation"

			div.year-wrapper
				h4="Earlier"
			div.protofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/personal_site_1_screenshot.png")
						a(href="work/personal_website_1").seemore=""
						//div.portofolio-seemore
							a.seemore="SEE MORE"
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="work/personal_website_1")="Persoanl site 1.0"
						p.portofolio-subtitle="For myself, 2012"
						ul
							li="PHP, MySQL, Wordpress, JavaScript, HTML5, CSS..."
							li="Developed by myself and hosted on the Sina App Engine"
							li="Based on wordpress"

				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/calendar_scrennshot.png")
						a(href="work/calendar").seemore=""
						//div.portofolio-seemore
							a.seemore="SEE MORE"
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title
							a(href="work/calendar")="Personal Calendar"
						p.portofolio-subtitle="2010"
						ul
							li="Python, Django, MySQL, JavaScript, jQuerym HTML5, CSS, LESS, BootStrap..."
							li="Designed and developed by myself"
							li="Aim to let user to have a good system to manage their calendar"
							li="Allow user to create, import and output personal or public calendar"
							
							