extends ./layout

block css
	link(href='css/works.css', rel='stylesheet')

block variables
	- var selected = "My Works"

block body
	div.content-wrapper
		div#portofolio-container
			div.year-wrapper
				h4=2016
			div.portofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/website_screenshot.png")
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title="Personal website 2.0"
						p.portofolio-subtitle="For myself, 2014"
						ul
							li="Designed, developed and maintenanced by myself"
							li="Node.js, Express, MongoDB, JavaScript, Heroku, HTML5, CSS, jQuery, BootStrap..."
							li="Built on express and hosted on Heroku"
							li="Reponsive design, make the site mobile friendly"
							li="Include a blog system for me to upload blog"

				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/caption_screenshot.png")
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title="Captioning System"
						p.portofolio-subtitle="Syracuse University"
						ul
							li="Full-stack Developer"
							li="For students and instructors to correct captions, make bookmarks, write comments and communicate with others"
							li="Docker, PHP, Laraval, JavaScript, HTML5, CSS, jQuery, BootStrap..."
							li="Interface with Google, YouTube and BlackBoard"

			div.year-wrapper
				h4=2015
			div.protofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/edms_screenshot.png")
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title="787 Engineering Data Management System"
						p.portofolio-subtitle="Xiamen Airlines, 2014"
						ul
							li="Developer team leader"
							li="For 787 maintenance and engineering management"
							li="C# ASP.net MVC, JavaScript, Python, HTML5, CSS, LESS, jQuery, BootStrap..."
							li="Cooperate with Boeing 787 e-Enabing team"
							li="Visit Boeing Lab in Seattle for testing and validating"

			div.year-wrapper
				h4="Earlier"
			div.protofolio-wrapper
				div.portofolio.row
					div.portofolio-image-wrapper.col-md-6
						img.portofolio-image(src="images/personal_site_1_screenshot.png")
					div.portofolio-content-wrapper.col-md-6
						h4.portofolio-title="Persoanl site version 1.0"
						p.portofolio-subtitle="For myself, 2012"
						ul
							li="Developer team leader"
							li="PHP, MySQL, Wordpress, JavaScript, HTML5, CSS..."
							li="Built by myself and hosted on the Sina App Engine"
							li="Based on wordpress"
							li="Visit Boeing Lab in Seattle for testing and validating"