extends ../layout.jade
block variables
	- var selected = "My Works"
block css
	link(href='/css/works.css', rel='stylesheet')

block body
	div.content-wrapper
		div#detail-header
			div#detail-title
				h2="787 Engineering Data Management System"
				p="Xiamen Airlines, China, 2013-2014"
			div#detail-overview
				h3.section-title="Overview"
				p="This system is a key part of 787 e-Enabling project and is developed for 787 engineer data management. I participated in this system from Xiamen Airlines' first 787 import till its maiden flight. As the developer leader, I designed and developed most parts of it."
			div#detail-technology
				h3.section-title="Technology"
				p="C#, ASP.net MVC, JavaScript, Python, HTML5, CSS, LESS, jQuery, BootStrap, PostgreSQL, MSSQL Server..."
			div#detail-highlight
				h3.section-title="Highlight"
				ul
					li="Developer leader, participated in both front and back end"
					li="Design the data structure and parse algorithm to analysis and store the airplane configuration report"
					li="Participated not only in the software development, but also in the e-Enabling architecture construction, including the PKI, EFB, Proxy and Network"
					li="Cooperate with Boeing 787 e-Enabling team"
					li="Visit Boeing Lab in Seattle for system test and validation"

			div#detail-screenshot-wrapper
				h3.section-title="Screenshot"
				each val in [1, 2]
					div.detail-screenshot
						img(src="/images/work_details/personal_website_2/" + val + ".png")
			div#detail-more
				div
					//a(href="https://datascience.ischool.syr.edu").visit="VISIT IT"
					//a.visit="GITHUB"
